<div class="container mt-5">
  <div class="row">
    <div class="col-4 p-5">
      <div class="row border p-auto mt-3 rounded-3 shadow">
        <div class="col-4 text-warning mt-3">
          <h1>{{ tong }}</h1>
        </div>
        <div class="col">
          <div class="text-muted"><h2>Tất cả</h2></div>
          <div class="fs-3"><i class="fa-solid fa-clipboard-check"></i></div>
        </div>
      </div>
    </div>
    <div class="col-4 p-5">
      <div class="row border p-auto mt-3 rounded-3 shadow">
        <div class="col-4 text-warning mt-3">
          <h1>{{ demCamera }}</h1>
        </div>
        <div class="col">
          <div class="text-muted"><h2>Máy ảnh</h2></div>
          <div class="fs-3"><i class="fa-solid fa-camera"></i></div>
        </div>
      </div>
    </div>
    <div class="col-4 p-5">
      <div class="row border p-auto mt-3 mb-3 rounded-3 shadow">
        <div class="col-4 text-warning mt-3">
          <h1>{{ demStudio }}</h1>
        </div>
        <div class="col">
          <div class="text-muted"><h2>Studio</h2></div>
          <div class="fs-3"><i class="fa-solid fa-photo-film"></i></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 form-respon container p-4 mt-3 mb-4">
      <h1>Update Camera</h1>
      <form [formGroup]="regForm" (ngSubmit)="submitData(regForm.value)">
        <div class="form-group">
          <label for="productName" class="col-sm-3 col-form-label"
            >1. Tên máy ảnh <span class="text-danger">*</span></label
          >
          <input
            type="text"
            class="form-control"
            id="productName"
            name="productName"
            placeholder="Nhập tên sản phẩm"
            formControlName="productName"
            [ngClass]="{
              'is-invalid': f['productName'].errors && f['productName'].touched
            }"
            required
            [(ngModel)]="camera.productName"
          />
          <div *ngIf="f['productName'].errors && f['productName'].touched">
            <small
              class="text-danger"
              *ngIf="f['productName'].errors?.['required']"
              >Tên máy ảnh không được để trống</small
            ><br />
            <small
              class="text-danger"
              *ngIf="f['productName'].errors?.['minlength']"
              >Tên máy ảnh phải có tối thiểu 4 ký tự</small
            ><br />
            <small
              class="text-danger"
              *ngIf="f['productName'].errors?.['nameNotMatch']"
              >Tên máy ảnh không được chứa ký tự đặc biệt</small
            >
          </div>
        </div>
        <hr />
        <div class="form-group">
          <label for="unitPrice"
            >2. Giá máy ảnh <span class="text-danger">*</span></label
          >
          <input
            type="number"
            class="form-control"
            id="unitPrice"
            name="unitPrice"
            placeholder="Nhập giá sản phẩm"
            required
            formControlName="unitPrice"
            [ngClass]="{
              'is-invalid': f['unitPrice'].errors && f['unitPrice'].touched
            }"
            [(ngModel)]="camera.unitPrice"
          />
          <div *ngIf="f['unitPrice'].errors && f['unitPrice'].touched">
            <small
              class="text-danger"
              *ngIf="f['unitPrice'].errors?.['required']"
              >Giá máy ảnh không được để trống</small
            ><br />
          </div>
        </div>
        <div class="form-group row mb-4">
          <label class="col-sm-3 col-form-label" for="brand"
            >3. Nhà sản xuất <span class="text-danger">*</span></label
          >
          <div class="col-sm-5">
            <select
              id="brand"
              name="brand"
              class="form-control"
              formControlName="brand"
              [ngClass]="{
                'is-invalid': f['brand'].errors && f['brand'].touched
              }"
              required
              [(ngModel)]="camera.brand"
            >
              <option>Canon</option>
              <option>Nikon</option>
              <option>Sony</option>
              <option>Kodak</option>
              <option>FujiFilm</option>
            </select>
            <div *ngIf="f['brand'].invalid && f['brand'].touched">
              <small class="text-danger" *ngIf="f['brand'].errors?.['required']"
                >Nhà sản xuất không được để trống</small
              >
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <label class="mb-2" for="type"
            >4. Loại máy ảnh <span class="text-danger">*</span></label
          >
          <select
            id="type"
            name="type"
            class="form-control"
            required
            formControlName="type"
            [ngClass]="{ 'is-invalid': f['type'].errors && f['type'].touched }"
            [(ngModel)]="camera.type"
          >
            <option>Máy ảnh cơ</option>
            <option>Máy ảnh du lịch</option>
            <option>Máy ảnh bridge</option>
            <option>Máy ảnh số</option>
          </select>
          <div *ngIf="f['type'].invalid && f['type'].touched">
            <small class="text-danger" *ngIf="f['type'].errors?.['required']"
              >Loại máy ảnh không được để trống</small
            >
          </div>
        </div>
        <div class="form-group row mb-4">
          <label for="origin" class="col-sm-3 col-form-label"
            >5. Xuất xứ máy ảnh <span class="text-danger">*</span></label
          >
          <div class="col-sm-5">
            <input
              id="origin"
              name="origin"
              type="text"
              placeholder="Xuất xứ máy ảnh"
              required
              class="form-control"
              formControlName="origin"
              [ngClass]="{
                'is-invalid': f['origin'].errors && f['origin'].touched
              }"
              [(ngModel)]="camera.origin"
            />
            <div *ngIf="f['origin'].invalid && f['origin'].touched">
              <small
                class="text-danger"
                *ngIf="f['origin'].errors?.['required']"
                >Xuất xứ máy ảnh không được để trống</small
              >
              <small
                class="text-danger"
                *ngIf="f['origin'].errors?.['nameNotMatch']"
                >Xuất xứ máy ảnh không được chứa ký tự đặc biệt</small
              >
            </div>
          </div>
        </div>
        <div class="form-group row mb-4">
          <label for="model" class="col-sm-3 col-form-label"
            >6. Model máy ảnh <span class="text-danger">*</span></label
          >
          <div class="col-sm-5">
            <input
              type="text"
              placeholder="Model máy ảnh"
              required
              id="model"
              class="form-control"
              name="model"
              formControlName="model"
              [ngClass]="{
                'is-invalid': f['model'].errors && f['model'].touched
              }"
              [(ngModel)]="camera.model"
            />
            <div *ngIf="f['model'].invalid && f['model'].touched">
              <small class="text-danger" *ngIf="f['model'].errors?.['required']"
                >Model máy ảnh không được để trống</small
              >
              <small
                class="text-danger"
                *ngIf="f['model'].errors?.['nameNotMatch']"
                >Mô hình máy ảnh không được chứa ký tự đặc biệt</small
              >
            </div>
          </div>
        </div>
        <hr />
        <div class="form-group row mb-4 mt-4">
          <label class="col-sm-3 col-form-label"
            >7. Thêm ảnh của máy ảnh <span class="text-danger">*</span></label
          >
          <div class="col-sm-5 text-secondary">
            Ảnh 1, 2, 3: Ảnh của sản phẩm; Ảnh 4: Thông số kỹ thuật
          </div>
        </div>
        <div class="form-row row mb-4">
          <div class="form-group col-md-6">
            <label for="imgProduct1">7.1. Ảnh 1</label>
            <input
              type="file"
              class="form-control mb-2"
              id="imgProduct1"
              name="imgProduct1"
              formControlName="imgProduct1"
              (change)="onSelectFile1($event)"
              [(ngModel)]="camera.imgProduct1"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="imgProduct2">7.2. Ảnh 2</label>
            <input
              type="file"
              class="form-control mb-2"
              id="imgProduct2"
              name="imgProduct2"
              formControlName="imgProduct2"
              (change)="onSelectFile2($event)"
              [(ngModel)]="camera.imgProduct2"
            />
          </div>
        </div>
        <div class="form-row row mb-4">
          <div class="form-group col-md-6">
            <label for="imgProduct3">7.3. Ảnh 3</label>
            <input
              type="file"
              class="form-control mb-2"
              id="imgProduct3"
              name="imgProduct3"
              formControlName="imgProduct3"         
              (change)="onSelectFile3($event)"
              [(ngModel)]="camera.imgProduct3"
            />
          </div>
          <div class="form-group col-md-6">
            <label for="imgProduct4">7.4. Ảnh 4</label>
            <input
              type="file"
              class="form-control mb-2"
              id="imgProduct4"
              name="imgProduct4"
              formControlName="imgProduct4"
              (change)="onSelectFile4($event)"
              [(ngModel)]="camera.imgProduct4"
            />
          </div> 
        </div>
        <hr />
        <div class="form-group row mb-4">
          <label for="productDescription" class="col-sm-3 col-form-label"
            >8. Mô tả <span class="text-danger">*</span></label
          >
          <div class="col-sm-9">
            <textarea
              type="text"
              class="form-control"
              id="productDescription"
              placeholder="Mô tả"
              rows="5"
              name="productDescription"
              formControlName="productDescription"
              required
              [ngClass]="{
                'is-invalid':
                  f['productDescription'].errors &&
                  f['productDescription'].touched
              }"
              [(ngModel)]="camera.productDescription"
            ></textarea>
            <div
              *ngIf="
                f['productDescription'].invalid &&
                f['productDescription'].touched
              "
            >
              <small
                class="text-danger"
                *ngIf="f['productDescription'].errors?.['required']"
                >Mô tả máy ảnh không được để trống</small
              >
              <small
                class="text-danger"
                *ngIf="f['productDescription'].errors?.['minlength']"
                >Mô tả phải có tối thiểu 50 ký tự</small
              >
            </div>
          </div>
        </div>
        <div class="text-end">
          <button type="submit" class="btn btn-primary mt-2 me-2 text-end">
            Cập nhật
          </button>
          <button type="reset" class="btn btn-secondary mt-2">Đặt lại</button>
        </div>
      </form>
    </div>
    <div class="col-6 bang-respon">
      <div class="bg-warning mb-3 fs-4 text-light text-center mt-3 rounded-3">
        Danh sách sản phẩm
      </div>
      <div class="mt-2 mb-5">
        <div class="row mt-3 border rounded-3" *ngFor="let c of cameras">
          <div class="col-4">
            <img
              class="card-img-top"
              src="http://localhost:3000/{{ c.imgProduct1 }}"
              alt="Card image cap"
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h2 class="card-title">{{ c.productName }}</h2>
              <p class="card-text">Loại sản phẩm: {{ c.type }}</p>
              <p class="card-text">Đơn giá sản phẩm: {{ c.unitPrice }} VND/ngày</p>
              <p class="card-text">Xuất xứ: {{ c.origin }}</p>
              <p class="text-end">
                <button
                  class="btn btn-warning text-light me-3"
                  (click)="patchProduct(c)"
                >
                  Chỉnh sửa
                </button>
                <button class="btn btn-danger text-light"
                  (click)="deleteProduct(c._id, regForm.value)">
                  Xóa
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
