<div style="background-color: #242426">
  <div class="container text-center p-3">
    <div class="mx-5">
      <div class="mb-5 mt-4">
        <p class="big-header text-white">Tổng hợp album</p>
        <p class="text-white text-dct">
          Tổng hợp các phong cách chụp ảnh với nhiều màu sắc khác nhau.<br />Thỏa
          sức khám phá và tìm kiếm một màu sắc riêng của chính mình nhé!
        </p>
      </div>
      <div class="">
        <div class="row">
          <div class="col col-sm-6 col-lg-4 p-3">
            <div class="card mb-3" style="width: 20rem">
              <img
                src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/277161726_1571416619888147_6833820531464465829_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=EhhMkMbp1_8AX_pZP-w&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT9WhjZtkuWRKbsJuJE_2vCrrh-t48y33KozxH48hthUeQ&oe=623FC3A0"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Ảnh cưới</h5>
                <p class="card-text text-secondary">12 ảnh</p>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-lg-4 p-3">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/277161726_1571416619888147_6833820531464465829_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=EhhMkMbp1_8AX_pZP-w&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT9WhjZtkuWRKbsJuJE_2vCrrh-t48y33KozxH48hthUeQ&oe=623FC3A0"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Ảnh cưới</h5>
                <p class="card-text text-secondary">12 ảnh</p>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-lg-4 p-3">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/277161726_1571416619888147_6833820531464465829_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=EhhMkMbp1_8AX_pZP-w&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT9WhjZtkuWRKbsJuJE_2vCrrh-t48y33KozxH48hthUeQ&oe=623FC3A0"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Ảnh cưới</h5>
                <p class="card-text text-secondary">12 ảnh</p>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-lg-4 p-3">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/277161726_1571416619888147_6833820531464465829_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=EhhMkMbp1_8AX_pZP-w&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT9WhjZtkuWRKbsJuJE_2vCrrh-t48y33KozxH48hthUeQ&oe=623FC3A0"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Ảnh cưới</h5>
                <p class="card-text text-secondary">12 ảnh</p>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-lg-4 p-3">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/277161726_1571416619888147_6833820531464465829_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=EhhMkMbp1_8AX_pZP-w&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT9WhjZtkuWRKbsJuJE_2vCrrh-t48y33KozxH48hthUeQ&oe=623FC3A0"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Ảnh cưới</h5>
                <p class="card-text text-secondary">12 ảnh</p>
              </div>
            </div>
          </div>
          <div class="col col-sm-6 col-lg-4 p-3">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/277161726_1571416619888147_6833820531464465829_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=EhhMkMbp1_8AX_pZP-w&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT9WhjZtkuWRKbsJuJE_2vCrrh-t48y33KozxH48hthUeQ&oe=623FC3A0"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Ảnh cưới</h5>
                <p class="card-text text-secondary">12 ảnh</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
