<div class="pb-5" style="background-color: #242426">
  <header class="header-container">
    <img
      class="banner"
      src="https://scontent.fsgn5-3.fna.fbcdn.net/v/t39.30808-6/277228861_1571674089862400_1718044485564734628_n.jpg?_nc_cat=104&ccb=1-5&_nc_sid=730e14&_nc_ohc=YVy4VHKB8aEAX9Mp-Ne&_nc_ht=scontent.fsgn5-3.fna&oh=00_AT-x74cu9K640M2bknqiFTTZvkI79LGI6S_jroh-BNDfwQ&oe=623F2E3F"
      alt=""
    />
    <div class="text-header">
      <div class="text-center text-white">
        <p class="big-header">Cho thuê studio</p>
        <p class="subtext-header">Tìm kiếm phong cách của bạn!</p>
        <a class="btn btn-primary p-2 btn-disco" href="#services"
          >Khám phá ngay!</a
        >
      </div>
    </div>
    <div class="top-product bg-light p-5">
      <p class="top-text mb-5 mt-3">Top 3 studio có lượt cho thuê cao nhất</p>
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="card card-top mb-3">
              <img
                src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/277244629_1571417473221395_3357707930865835804_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=lnMEDdtbZqsAX_BtuUj&tn=MGTvvynJYdokzSrb&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT-7OguPNzVcTX62kimjtWuED9GzbuyjwI68yHlwn6rR3Q&oe=623E659E"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Chốn mơ</h5>
                <p class="card-text">Nghệ thuật</p>
                <p class="card-text">Chụp nghệ thuật, chân dung</p>
                <h6 class="card-price">600,000 VND/giờ</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/277244629_1571417473221395_3357707930865835804_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=lnMEDdtbZqsAX_BtuUj&tn=MGTvvynJYdokzSrb&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT-7OguPNzVcTX62kimjtWuED9GzbuyjwI68yHlwn6rR3Q&oe=623E659E"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Tối giản 1</h5>
                <p class="card-text">Tối giản</p>
                <p class="card-text">Chụp chân dung</p>
                <h6 class="card-price">600,000 VND/giờ</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/277244629_1571417473221395_3357707930865835804_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=lnMEDdtbZqsAX_BtuUj&tn=MGTvvynJYdokzSrb&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT-7OguPNzVcTX62kimjtWuED9GzbuyjwI68yHlwn6rR3Q&oe=623E659E"
                alt=""
                class="card-img-top card-custom-top"
              />
              <div class="card-body">
                <h5 class="card-title">Tối giản 2</h5>
                <p class="card-text">Tối giản</p>
                <p class="card-text">Chụp chân dung</p>
                <h6 class="card-price">600,000 VND/giờ</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="body-content">
    <div class="container">
      <div class="row">
        <div class="col col-md-4 col-lg-3">
          <div class="filter-box bg-white p-4">
            <form class="form-inline mb-4 text-left">
              <p class="text-secondary font-weight-bold filter-title mb-4">
                Bộ lọc
              </p>
              <div class="col mb-4">
                <p class="text-secondary font-weight-bold filter-sub">
                  Sắp xếp theo
                </p>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Giá cả
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Lượt thuê
                  </label>
                </div>
              </div>
              <div class="col mb-4">
                <p class="text-secondary font-weight-bold filter-sub">
                  Chọn theo Album
                </p>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Ảnh cưới
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Ảnh nghệ thuật
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Ảnh bé yêu
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Ảnh chân dung
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Ảnh gia đình
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Ảnh bà bầu
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Ảnh sản phẩm
                  </label>
                </div>
              </div>
              <div class="col mb-4">
                <p class="text-secondary font-weight-bold filter-sub">
                  Phong cách
                </p>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Vintage
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Hiện đại
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Hoàng gia
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Thiên nhiên
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Đường phố
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Tối giản
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Nghệ thuật
                  </label>
                </div>
              </div>
              <div class="form-button text-center mt-5">
                <button class="btn btn-primary mb-3 btn-block btn-apply">
                  Áp dụng
                </button>
                <button class="btn btn-white btn-block">Đặt lại</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col col-md-8 col-lg-9">
          <div class="col mb-4">
            <div class="input-group">
              <div class="w-50">
                <input
                  type="search"
                  id="form1"
                  class="form-control"
                  placeholder="Tìm kiếm"
                />
              </div>
              <button type="button" class="btn btn-primary btn-apply">
                <i class="fas fa-search col-2"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-4">
              <div class="card mb-3">
                <img
                  src="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/277223394_1571417556554720_1580630688503848379_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=9aSFt1VccF4AX_S-Hgd&_nc_ht=scontent.fsgn5-14.fna&oh=00_AT-7uI5D7UQjil7DqLvSi0qDW9u0OmJorLHNRo8iPNae9Q&oe=623EF0AE"
                  alt=""
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">Tối giản 1</h5>
                  <p class="card-text">Tối giản</p>
                  <p class="card-text">Chụp chân dung</p>
                  <h6 class="card-price">600,000 VND/giờ</h6>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
              <div class="card mb-3">
                <img
                  src="https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/277099942_1571417596554716_5233510057006221161_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_ohc=TZQw_4sc85kAX8gM4ze&tn=MGTvvynJYdokzSrb&_nc_ht=scontent.fsgn5-14.fna&oh=00_AT_3qtdRcKp4OxPlbcaRBrdKd2nFnh_TZhZEumv1C5s0eQ&oe=623E3695"
                  alt=""
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">Jurassic Park</h5>
                  <p class="card-text">Thiên nhiên</p>
                  <p class="card-text">Chụp chân dung</p>
                  <h6 class="card-price">600,000 VND/ngày</h6>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-12 col-lg-6 col-xl-4">
              <div class="card mb-3">
                <img
                  src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/277220785_1571417643221378_3356927424417095624_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_ohc=RaDcxPqvuWMAX_8OZwX&_nc_ht=scontent.fsgn5-15.fna&oh=00_AT_wUr8in2sFyilI8LMhHNuE6Bc-SjoANHNaSl7OfHnDTA&oe=623E21FF"
                  alt=""
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">Chốn mơ</h5>
                  <p class="card-text">Nghệ thuật</p>
                  <p class="card-text">Chân dung</p>
                  <h6 class="card-price">600,000 VND/ngày</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
