.active {
    background-color: black;
  }
  .pro-img-detail {
    height: auto;
    width: 500px;
  }
  .img-hover:hover {
    box-shadow: 1px 3px 5px 5px #a7a7a7;
    transform: scale(1.1);
  }
  .img-hover {
    transition: all 0.2s ease;
    cursor: pointer;
  }
  @media only screen and (max-width: 600px) {
    .pro-img-detail {
      width: 300px;
    }
  }
  