<div class="pb-5" style="background-color: #242426">
  <header class="header-container">
    <img
      class="banner"
      src="https://scontent.fsgn5-10.fna.fbcdn.net/v/t39.30808-6/277221091_1571416616554814_8223468517943328965_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=9HRjZFb9rRMAX_oiszg&_nc_ht=scontent.fsgn5-10.fna&oh=00_AT_mv0EMSaZUzUxoChao6xrJGomORDMAz0Cx0yHeSsJJLg&oe=623E60F5"
      alt=""
    />
    <div class="text-header">
      <div class="text-center text-white">
        <p class="big-header">Cho thuê máy ảnh</p>
        <p class="subtext-header">Lưu trữ kỷ niệm của riêng bạn!</p>
        <a class="btn btn-primary p-2 btn-disco" href="#services"
          >Khám phá ngay!</a
        >
      </div>
    </div>
    <div class="top-product bg-light p-5">
      <p class="top-text mb-5 mt-3">Top 3 sản phẩm có lượt cho thuê cao nhất</p>
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/277178568_1571416953221447_3109788494348386087_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=4WqxkkNfB4cAX9Ncca3&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT_-GCaWuj6ukkbut29liR0CGm6v9poy4Z5L5KXA5y4MdA&oe=623E69EC"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Máy ảnh Canon</h5>
                <p class="card-text">Canon, Nhật Bản</p>
                <p class="card-text">Phù hợp chụp chân dung</p>
                <h6 class="card-price">600,000 VND/ngày</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/277178568_1571416953221447_3109788494348386087_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=4WqxkkNfB4cAX9Ncca3&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT_-GCaWuj6ukkbut29liR0CGm6v9poy4Z5L5KXA5y4MdA&oe=623E69EC"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Máy ảnh Canon</h5>
                <p class="card-text">Canon, Nhật Bản</p>
                <p class="card-text">Phù hợp chụp chân dung</p>
                <h6 class="card-price">600,000 VND/ngày</h6>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="card mb-3">
              <img
                src="https://scontent.fsgn5-9.fna.fbcdn.net/v/t39.30808-6/277178568_1571416953221447_3109788494348386087_n.jpg?_nc_cat=105&ccb=1-5&_nc_sid=730e14&_nc_ohc=4WqxkkNfB4cAX9Ncca3&_nc_ht=scontent.fsgn5-9.fna&oh=00_AT_-GCaWuj6ukkbut29liR0CGm6v9poy4Z5L5KXA5y4MdA&oe=623E69EC"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <h5 class="card-title">Máy ảnh Canon</h5>
                <p class="card-text">Canon, Nhật Bản</p>
                <p class="card-text">Phù hợp chụp chân dung</p>
                <h6 class="card-price">600,000 VND/ngày</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="body-content">
    <div class="container">
      <div class="row">
        <div class="col col-md-4 col-lg-3">
          <div class="filter-box bg-white p-4">
            <form class="form-inline mb-4 text-left">
              <p class="text-secondary font-weight-bold filter-title mb-4">
                Bộ lọc
              </p>
              <div class="col mb-4">
                <p class="text-secondary font-weight-bold filter-sub">
                  Sắp xếp theo
                </p>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault1"
                  />
                  <label class="form-check-label" for="flexRadioDefault1">
                    Giá cả
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="flexRadioDefault"
                    id="flexRadioDefault2"
                  />
                  <label class="form-check-label" for="flexRadioDefault2">
                    Lượt thuê
                  </label>
                </div>
              </div>
              <div class="col mb-4">
                <p class="text-secondary font-weight-bold filter-sub">Loại</p>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Máy ảnh cơ
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Máy ảnh du lịch
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Máy ảnh số
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Máy ảnh bridge
                  </label>
                </div>
              </div>
              <div class="col mb-4">
                <p class="text-secondary font-weight-bold filter-sub">
                  Hãng máy
                </p>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckDefault"
                  />
                  <label class="form-check-label" for="flexCheckDefault">
                    Canon
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Nikon
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Sony
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    Kodak
                  </label>
                </div>
                <div class="form-check mb-3">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    value=""
                    id="flexCheckChecked"
                  />
                  <label class="form-check-label" for="flexCheckChecked">
                    FujiFilm
                  </label>
                </div>
              </div>
              <div class="form-button text-center mt-5">
                <button class="btn btn-primary mb-3 btn-block btn-apply">
                  Áp dụng
                </button>
                <button class="btn btn-white btn-block">Đặt lại</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col col-md-8 col-lg-9">
          <div class="col mb-4">
            <div class="input-group">
              <div class="w-50">
                <input
                  type="search"
                  id="form1"
                  class="form-control"
                  placeholder="Tìm kiếm"
                />
              </div>
              <button
                type="button"
                class="btn btn-primary btn-apply text-center"
              >
                <i class="fas fa-search col-2"></i>
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-6 col-xl-4 text-center">
              <div class="card mb-3">
                <img
                  src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-6/277168574_1571417006554775_1015206506444382023_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=U1KPzg0sPgYAX9pKTVJ&tn=MGTvvynJYdokzSrb&_nc_ht=scontent.fsgn5-8.fna&oh=00_AT9ZcDhiNhGQ3QTt-5XE_IQvUk5-dC22rB3YK3vy7KzbEA&oe=623F90D9"
                  alt=""
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">Máy ảnh Canon</h5>
                  <p class="card-text">Canon, Nhật Bản</p>
                  <p class="card-text">Phù hợp chụp chân dung</p>
                  <h6 class="card-price">600,000 VND/ngày</h6>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 text-center">
              <div class="card mb-3">
                <img
                  src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-6/277168574_1571417006554775_1015206506444382023_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=U1KPzg0sPgYAX9pKTVJ&tn=MGTvvynJYdokzSrb&_nc_ht=scontent.fsgn5-8.fna&oh=00_AT9ZcDhiNhGQ3QTt-5XE_IQvUk5-dC22rB3YK3vy7KzbEA&oe=623F90D9"
                  alt=""
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">Máy ảnh Canon</h5>
                  <p class="card-text">Canon, Nhật Bản</p>
                  <p class="card-text">Phù hợp chụp chân dung</p>
                  <h6 class="card-price">600,000 VND/ngày</h6>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-4 text-center">
              <div class="card mb-3">
                <img
                  src="https://scontent.fsgn5-8.fna.fbcdn.net/v/t39.30808-6/277168574_1571417006554775_1015206506444382023_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=U1KPzg0sPgYAX9pKTVJ&tn=MGTvvynJYdokzSrb&_nc_ht=scontent.fsgn5-8.fna&oh=00_AT9ZcDhiNhGQ3QTt-5XE_IQvUk5-dC22rB3YK3vy7KzbEA&oe=623F90D9"
                  alt=""
                  class="card-img-top"
                />
                <div class="card-body">
                  <h5 class="card-title">Máy ảnh Canon</h5>
                  <p class="card-text">Canon, Nhật Bản</p>
                  <p class="card-text">Phù hợp chụp chân dung</p>
                  <h6 class="card-price">600,000 VND/ngày</h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
