<div class="bg-dark container-fluid p-5">
    <div class="p-4">
      <h3 class="text-center text-light mb-2">TRẠNG THÁI ĐƠN HÀNG</h3>
    </div>
    <div class=" mb-3">
      <form class=" bg-light mx-auto">
        <div class="container ">
          <div class="row align-items-start text-center Donhang__text--size">
            <div class="col">
              Tất cả
            </div>
            <div class="col">
              Đang chờ thanh toán
            </div>
            <div class="col">
              Đã thanh toán
            </div>
          </div>
        </div>
        <hr>
        <div class="container mb-3">
          <div class="row align-items-start text-center">
            <div class="col fw-bold">
              Ngày đặt thuê
            </div>
            <div class="col fw-bold">
              Sản phẩm / Dịch vụ
            </div>
            <div class="col fw-bold">
              Trạng thái thanh toán
            </div>
          </div>
        </div>
        <hr>
        <div class="p-3">
          <div class="container mb-3">
            <div class="row align-items-start text-center">
              <div class="col ">
                20/03/2022
              </div>
              <div class="col ">
                Máy ảnh JSA
              </div>
              <div class="col Donhang__payStatus--color fw-bold ">
                Đã thanh toán
              </div>
            </div>
          </div>
          <div class="container mb-3">
            <div class="row align-items-start text-center">
              <div class="col ">
                20/03/2022
              </div>
              <div class="col ">
                Máy ảnh KLA
              </div>
              <div class="col Donhang__payStatus--color fw-bold  ">
                Đã thanh toán
              </div>
            </div>
          </div>
          <div class="container mb-3">
            <div class="row align-items-start text-center">
              <div class="col ">
                20/03/2022
              </div>
              <div class="col ">
                Máy ảnh Canon
              </div>
              <div class="col Donhang__payStatus--color fw-bold  ">
                Đã thanh toán
              </div>
            </div>
          </div>
          <div class="container mb-3">
            <div class="row align-items-start text-center">
              <div class="col ">
                20/03/2022
              </div>
              <div class="col ">
                Máy ảnh JSA
              </div>
              <div class="col Donhang__payStatus--color fw-bold  ">
                Đã thanh toán
              </div>
            </div>
          </div>
          <div class="container mb-3">
            <div class="row align-items-start text-center">
              <div class="col ">
                20/03/2022
              </div>
              <div class="col ">
                Máy ảnh JSA
              </div>
              <div class="col Donhang__payStatus--color fw-bold  ">
                Đã thanh toán
              </div>
            </div>
          </div>
          <div class="container mb-3">
            <div class="row align-items-start text-center">
              <div class="col ">
                20/03/2022
              </div>
              <div class="col ">
                Studio tết
              </div>
              <div class="col Donhang__payStatus--color fw-bold  ">
                Đã thanh toán
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
